body {
    background-color: black;
    color: #fffffff0;
    font-family: Arial, "Times New Roman", sans-serif;
}

img {
    width: 50%;
    height: auto;
<!-- needs to be more specific to the image for each recipe page, but should also align and probably look a bit neater. -->
}

p {
    width: 45%;
}

h1 {
    color: black;
    background-color: whitesmoke;
    text-align: center;
}

h2 {
    background-color: #ffffffd0;
    color: black;
    width: 50%;
}

li {
    padding: 2px;
    width: 45%;
}

ol li {
    padding: 8px;
}

a {
    color: teal;
}
